<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HackHPI 2024</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="squirrel.ico">

        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="styles.css" type="text/css" rel="stylesheet">
    </head>
    <body style="background-color: #1f201f; color: #DADADA; font-family: sans-serif;">
        <div>                       
            <div>
                Six and the City
            </div>
        </div>   
        <a id="hiddenAnker"></a>            
    </body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let xyz = /*[[${xyz}]]*/
		/*]]>*/
    </script>
  </html>
