.attributeInput{
    border-radius: 5px; 
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
    padding: 6px;
    padding-left: 6px;
    padding-right: 6px;
    width: 70%;
}

.inputLabel{
    margin-right: 7px;
    margin-top: 3px
}

.attributeWrapper{
    margin-bottom: 5px;
    display: flex; 
    justify-content: space-between; 
    margin-left: 3%;
}
#map{

    width: 85%; 
    margin-left: 7.5%; 
}
#x{
    width: 85%; 
    margin-left: 7.5%; 
}

.attributeSectionWrapper{
   width: 85%; 
   margin-left: 7.5%; 
   background-color: rgb(240, 238, 238); 
   border-radius: 6px; 
   padding: 30px;
   box-shadow: 2px 2px 0 0 rgb(208, 199, 199);
}

.actionButton{
    background-color: rgb(147, 123, 123);
    border-radius: 7px;
    width: 120px;
    height: 40px;
    color:rgb(240, 238, 238);
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.actionButton.chosen{
    background-color: rgb(144, 36, 36);
}

.actionButton:hover{
    background-color: rgb(92, 6, 6);
    color: white;
}

.actionButton + .actionButton{
    margin-left: 10px;
}

p + img{
    margin-left: 20px;
}

textarea{
    resize: none;
}

input[type="checkbox"] {
    accent-color: rgb(144, 36, 36);;
}