.attributeInput{
    border-radius: 5px; 
    margin-right: 20%;
    display: inline-block;
    vertical-align: top;
}

.inputLabel{
    margin-right: 15px;
}

.attributeWrapper{
    margin-bottom: 7px;
    display: flex; 
    justify-content: space-between; 
    margin-left: 25%; 
}

.attributeSectionWrapper{
   width: 70%; 
   margin-left: 15%; 
   background-color: rgb(240, 238, 238); 
   border-radius: 6px; 
   padding: 30px
}

.actionButton{
    background-color: rgb(147, 123, 123);
    border-radius: 7px;
    width: 120px;
    height: 40px;
    color:rgb(240, 238, 238);
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.actionButton.chosen{
    background-color: rgb(144, 36, 36);
}

.actionButton:hover{
    background-color: red;
    color: white;
}

.actionButton + .actionButton{
    margin-left: 10px;
}

p + img{
    margin-left: 20px;
}